.viru{
  background-color: skyblue;
  padding: 0 18px;
  border-radius: 10px;
  width: 100px;
}
.tble-imgg{
  width: 300px;
  border-radius: 10px;
}


.image-info{
  width: 60px;
  border-radius: 50%;
  
}
.div-imggg{
  padding: 6px;
  padding-left: 8px;
}
.info-content{
  display: flex;
 background-color: white;
 border: 1px;
  width: 210px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px lightgray;
 
}

.info-text{
  padding: 6px;

}

.name-pro{
  font-weight: bold;
  font-size: 18px;

}

.total-subsc{
  font-size: 14px;
  color: gray;
}
.name-pro,.total-subsc{
  padding-left: 1px;
  padding-top: 5px;
 
  font-family: arial;
  
}